.grid-container {
  display: flex;
  font-family: arial;
}

.side-bar-container {
  height: 122vh;
  width: 17vw;
  background-color: #293C4E;
  display: inline-block;
  color: #ffffff;
}

.rigth-side-container {
  width: 83vw;
}

.header-container {
  display: inline-block;
  width: 100%;
  height: 80px;
  background-color: #F9F9F9;
}